/* Base Styles */
body {
  color: black;
  text-align: center;
  background-color: rgb(227, 207, 185);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 0;
  overflow-x: hidden;
}

/* Typography */

/* Links & Accents */
.accent {
  color: rgb(169, 47, 116);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 1.3em;
  font-style: italic;
}

/* Navigation */
ul {
  list-style-type: none;
  background-color: rgb(31, 65, 29);
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 6%;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3em;
}

ul li a:hover {
  background-color: rgb(12, 36, 11);
}

@media (max-width: 425px) {
  ul {
    display: block;
    justify-content: center;
  }
  ul li a {
    float: center;
  }
  header {
    text-align: center;
  }
}
/* Images */

/* Hero Section */
#hero-container {
  img {
    width: 60%;
  }
}
header {
  background-color: rgb(227, 207, 185);
  border-bottom: dashed rgb(31, 65, 29);
  padding: 10px;
  color: black;
  h1 {
    font-size: 3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration-line: underline;
    text-underline-offset: 2;
  }
  p {
    font-style: italic;
    font-weight: 600;
  }
}

/* Main Content */

/* About Section */
#about-us {
  display: flex;
  img{
    width: 60%;
    height: auto;
  }
  p{
    display: inline-block;
    text-align: left;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    line-height: 1.8;
  }
}
@media (max-width: 768px){
  #about-us{
    display: block;
    img{
      width: 100%;
    }
  }
}

/* Specials Section */
#specials{
  display: flexbox;
  
}
/* Visit Us Section */
h2{
  text-decoration-line: underline;
  font-style: italic;
}
p.say-hi{
  font-style: italic;
  font-weight: 700;
}
p, address{
  font-weight: 500;
}

address{
  text-decoration: underline;
  text-underline-offset: 2;
}

/*Navigation */

iframe {
  width: 80%;
  height: 350px;
}
@media(max-width: 768px){
  iframe{
    width: 90%;
  }
}
@media(max-width: 500px){
  iframe{
    width: 100%;
  }
}

/* Footer */
footer {
  margin-top: 48px;
  padding-bottom: 10px;
  text-align: center;
  padding: 3px;
  background-color: rgb(31, 65, 29);
  color: white;
  justify-content: end;
  width: 100%;
  p {
    display: inline-block;
  }
}
@media (max-width: 425px) {
  p {
    display: block;
  }
}
